# 1- Basic Data Types

## Defining a Variable

In [3]:
x = 5
print(x)

5

In [5]:
name = 'wasim'

In [6]:
type(x)

int

In [7]:
type(name)

str

## Numbers

In [8]:
type(1.5)

float

In [9]:
type(2j)

complex

In [10]:
1j * 1j

(-1+0j)

## Strings

In [11]:
'string 1' + ' string 2'

'string 1 string 2'

In [14]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

## Booleans

In [16]:
True

True

In [17]:
False

False

In [18]:
true

NameError: name 'true' is not defined

In [20]:
1 == 2

False

# 2- Operators

In [21]:
2 + 3

5

In [22]:
2 - 3

-1

In [23]:
2 * 3

6

In [24]:
14 % 3

2

## Arithmetic Operators with string

In [25]:
'string 1' + 'string 2'

'string 1string 2'

In [30]:
'*' * 20

'********************'

## Comparison, Logical, and Membership Operators

### Comparison Operator

In [31]:
4 < 5

True

In [32]:
5 <= 5

True

In [34]:
7 == 10

False

### Logical Operators (and, or, not)

In [36]:
4 < 5 and 6 < 7

True

In [40]:
isWeatherGood = False
haveUmberella = False

isWeatherGood or haveUmberella

False

### Membership operators

In [43]:
myList = [1,2,3,4,5]

15 not in myList

True

In [45]:
'cat' in 'my pet concat'

True

# 3- Control Flow

## If/Else statement

In [50]:
a = True
b = True

if a:
    print('It is true!')
    if b:
        print('Both are true')

It is true!
Both are true

## For loop

In [51]:
a = [1,2,3,4,5]

for item in a:
    print(item)

1
2
3
4
5

## While loop

In [52]:
a = 0

while(a<=5):
    print(a)
    a = a + 1

0
1
2
3
4
5

# 4- Functions

In [53]:
print('Hello Wolrd!')

Hello Wolrd!

In [54]:
def multiplybythree(val):
    return 3 * val

In [55]:
multiplybythree(4)

12

In [56]:
def multiply(val1, val2):
    return val1 * val2

In [57]:
multiply(4,3)

12

In [58]:
a = [1,2,3]

def appendFour(myList):
    myList.append(4)
    
appendFour(a)

In [59]:
a

[1, 2, 3, 4]

In [61]:
print(print('Hello World'))

Hello World
None

In [62]:
type(None)

NoneType

# 5- Classes

In [68]:
class Dog:
    def __init__(self, name):
        self.name = name
        self.legs = 4
        
    def speak(self):
        print(self.name +' says: Bark!')

In [69]:
my_dog = Dog('Rover')
another_dog = Dog('Fluffy')

In [70]:
my_dog.speak()

Rover says: Bark!

In [71]:
another_dog.speak()

Fluffy says: Bark!