# Lists

## List Slicing

In [4]:
myList = [1,2,3,4,5]

newList = myList[::2]

print(newList)

[1, 3, 5]

In [5]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
myList = list(range(100))

In [10]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [11]:
myList = [1,2,3,4]

## Modifying Lists

In [12]:
myList.append(5)
myList

[1, 2, 3, 4, 5]

In [13]:
myList.insert(3, 'a new value')

In [14]:
myList

[1, 2, 3, 'a new value', 4, 5]

In [15]:
myList.remove('a new value')

In [16]:
myList

[1, 2, 3, 4, 5]

In [17]:
myList.remove('a new value')

ValueError: list.remove(x): x not in list

In [18]:
myList.pop()

5

In [19]:
myList

[1, 2, 3, 4]

In [20]:
while len(myList):
    print(myList.pop())

4
3
2
1

In [21]:
myList

[]

In [23]:
a = [1,2,3,4]
b = a.copy()

b[3] = 10

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 10]

# Sets

In [24]:
mySet = {'a', 'b', 'b'}

In [26]:
myList = [1,2,2,3,3,3]

myList = list(set(myList))

myList

[1, 2, 3]

In [27]:
[1,2] == [1,2]

True

In [28]:
[1,2] == [2,1]

False

In [29]:
{1,2} == {2,1}

True

In [30]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [31]:
mySet.add('c')

In [32]:
mySet

{'a', 'b', 'c'}

In [33]:
len(mySet)

3

In [34]:
mySet.pop()

'b'

In [35]:
mySet

{'a', 'c'}

In [36]:
mySet.discard('a')

In [37]:
mySet

{'c'}

## Tuples

In [38]:
myTuple = ('a','b','c')

In [41]:
myTuple[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [43]:
def returnMultipleValues():
    return 1, 2, 3

In [44]:
a, b, c = returnMultipleValues()

In [45]:
print(a)
print(b)
print(c)

1
2
3

In [46]:
type(returnMultipleValues())

tuple

# Dictionaries

In [47]:
fruits = {
    'a' : 'Apple',
    'b' : 'Banana',
}

In [48]:
fruits['a']

'Apple'

In [49]:
fruits['b']

'Banana'

In [50]:
fruits['a'] = 'Avocado'

In [51]:
fruits

{'a': 'Avocado', 'b': 'Banana'}

In [53]:
list(fruits.keys())

['a', 'b']

In [54]:
fruits.values()

dict_values(['Avocado', 'Banana'])

In [55]:
fruits['m'] = 'Mango'

In [56]:
fruits

{'a': 'Avocado', 'b': 'Banana', 'm': 'Mango'}

In [57]:
fruits['c']

KeyError: 'c'

In [59]:
fruits.get('c', 'Not found!')

'Not found!'

In [60]:
len(fruits)

3

In [61]:
animals = {
    'a' : ['a1', 'a2'],
    'b' : ['b1', 'b2']
}

animals['b'].append('b3')

animals

{'a': ['a1', 'a2'], 'b': ['b1', 'b2', 'b3']}

In [63]:
if 'c' not in animals:
    animals['c'] = []
    
animals['c'].append('c1')

In [64]:
animals

{'a': ['a1', 'a2'], 'b': ['b1', 'b2', 'b3'], 'c': ['c1']}

## The default dict

In [66]:
from collections import defaultdict

animals = defaultdict(list)

animals

defaultdict(list, {})

In [67]:
animals['d'] = 'Dog'

In [68]:
animals

defaultdict(list, {'d': 'Dog'})

## List Comprehension

In [1]:
myList = [1,2,3,4,5]

[2*item for item in myList]

[2, 4, 6, 8, 10]

In [2]:
myList = list(range(20))

newList = []

for i in range(20):
    newList.append(i*i)
    
newList[-5:]

[225, 256, 289, 324, 361]

In [3]:
[i*i for i in range(20) if i>14]

[225, 256, 289, 324, 361]

## List comprehension with filters

In [4]:
[i*i for i in range(20) if i>14 and i<18]

[225, 256, 289]

## List comprehension with functions

In [6]:
myString = 'My name is Wasim. I live in Sialkot'

myString.split()

['My', 'name', 'is', 'Wasim.', 'I', 'live', 'in', 'Sialkot']

In [7]:
myString.split('.')

['My name is Wasim', ' I live in Sialkot']

In [8]:
def cleanWord(word):
    return word.replace('.', '').lower()

In [10]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 3]

['my', 'is', 'i', 'in']

## Nested list comprehension

In [14]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.') ]

[['my', 'name', 'is', 'wasim'], ['i', 'live', 'in', 'sialkot']]

## Dictionary Comprehension

In [15]:
fruitsList = [('a', 'apple'), ('b', 'banana')]

fruits = {item[0]:item[1] for item in fruitsList}

print(fruits)

{'a': 'apple', 'b': 'banana'}

In [16]:
fruits = {key:value for key, value in fruitsList}

In [17]:
fruits

{'a': 'apple', 'b': 'banana'}